//_variables.scss
$font-stack: Lato, Open Sans, helvetica, sans-serif;

$egg-shell: #ffefc3; //primary collor, a light and tender tone of yellow
$pale: #f2e8da; //works like white, only warmer
$black: #333333; //used in bg, text and everywhere we need high contrast
    $black-50:#33333350; //50% black. for when you're only half as goth.
$black-two: #262626; //darker black. when we need h.i.g.h.e.r. contrast
$sky-blue: #6fa1ff;
$light-sky-blue: #cbe4fc;
$greyish-brown: #4d4d4d; //dark-gray from table
$brownish-grey: #666666; //light-gray from table
$wheat: #ffd28a;